

<div class="container-fluid ni-footer">
    <div class="container ni-footer-warp">
        <div class="ni-footer-left">Copyright © 2015 Nicholas学习笔记</div>
        <div class="ni-footer-right">Powered by Nicholas</div>
    </div>
</div>
<div style="display: none;">
    <script type="text/javascript" src="http://s4.cnzz.com/z_stat.php?id=1255115582&web_id=1255115582" language="JavaScript"></script>
</div>
</body>
<script type="text/javascript" src="/resource/js/sea.js"></script>
<script type="text/javascript">
    seajs.config({
        alias:{
            "jquery":"/resource/js/jquery.min",
            "page":"/resource/js/page",
            "backToTop":"/resource/js/back-top-top",
            "common":"/resource/js/common",
            "bootstrap":"/resource/js/bootstrap.min",
            "underscore":"/resource/js/underscore-min",
            "backbone":"/resource/js/backbone-min",
            "imgZoom":"/resource/js/img.zoom",
            "avalon":"/resource/js/avalon.min",
            "aside":"/resource/app/module/aside",
            "index-footer":"/resource/app/module/index-footer"
        }
    });
</script>


