<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title><%=title%></title>
    <meta name="description" content="网络日记本">
    <meta name="keywords" content="angular，nodejs，javascript，HTML5，CSS3，前端开发，Java">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/resource/img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/resource/css/bootstrap.css">
	<link href="/resource/css/style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Nicholas</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="/">首页<span class="sr-only">(current)</span></a></li>
                <li ><a href="/demo">Demo<span class="sr-only">(current)</span></a></li>
                <li><a href="/nav">前端导航<span class="sr-only">(current)</span></a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid ni-warp">
    <div class="ni-warp-title">
        <h1 class="ni-site-title">Nicholas学习笔记</h1>
        <h3 class="ni-site-description">记录生活中的点点滴滴</h3>
    </div>
</div>