<div class="row">
	  	<div class="col-md-12">
	  	   <h3><%=username%>,欢迎您,<a href="/admin/index/logout">退出登录</a></h3>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="col-md-12">
  	    <nav class="navbar navbar-default navbar-static-top">
		  <div class="container">
		     <span class="navbar-brand">操作菜单</span>
		     <ul class="nav navbar-nav">
			  <li role="presentation"><a href="/admin/index/articleEdit.html">发表新文章</a></li>
			  <li role="presentation"><a href="/admin/index/index.html">文章列表</a></li>
			  <li role="presentation"><a href="/admin/nav/addNav.html">添加导航</a></li>
			  <li role="presentation"><a href="/admin/demo/audit.html">demo审核</a></li>
			</ul>
		  </div>
		</nav>
	</div>
</div>