<% include ../Home/header.html %>
<style type="text/css">
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
        border-top: 1px solid #eee;
    }
</style>
<div class="container">
    <% include admin_header.html %>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>文件名</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="demo-table">

                </tbody>
            </table>
             <div class="ni-article-pagination">
                <ul id="ni-pagination" class="pagination"> </ul>
            </div>
        </div>
    </div>

</div>
<% include ../Home/footer.html %>
<script type="text/javascript">
    seajs.use("/resource/app/init/admin-demo");
</script>