<% include ../Home/header.html%>
<div class="ni-main container" ng-controller="ArticleListCtrl">
            <div class="row">
                <div class="col-md-9">
                    <div class="ni-article-list-container">
                        <div class="ni-article-list-header">
                            搜索到<span style="color:red" id="kw-highline"><%=searchData.kw%></span>结果数为:<%=searchData.count%>
                        </div>
                        <ul class="ni-article-list">
                            <% searchData.data.forEach(function(item){%>
                                <li class="ni-article">
                                    <div class="ni-article-container">
                                        <span class="ni-article-title">
                                            <a target="_blank" href="/detail/<%=item.t_id%>"><%=item.t_title%></a>
                                        </span>
                                        <time class="ni-article-time"><%= moment(item.t_time).format("YYYY-MM-DD HH:mm:ss")%></time>
                                    </div>
                                </li>
                            <% })%>
                        </ul>
                        <div class="ni-article-pagination">
                            <ul id="ni-pagination" count="<%=searchData.count%>" class="pagination">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <% include ../Home/aside.html %>
                </div>
            </div>
        </div>
<% include ../Home/footer.html %>
<script type="text/javascript">
    seajs.use("/resource/app/project/search");
</script>